In [12]:
# Define a new function
def say_hello():
    print("Hello!")

In [13]:
# Call our new function
say_hello()

Hello!

In [14]:
def say_something(something):
    print(something)

In [15]:
say_something("Hello World")

Hello World

In [16]:
# Define a function that calculates the percentage of students that passed both 
# math and reading and returns the passing percentage when the function is called.

def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [17]:
passing_math_count = 29370
total_student_count = 39170
# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [19]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [20]:
# map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)
# The map() function is used for substituting each value in a Series with another value

# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [21]:
# format() function is used to format a value to a specific format, 
# such as one or two decimal places, or adding a thousands separator.

#After the colon, the .0f means to format the grade with no decimal place, 
# where the "period" is for the decimal place, the "0" is for "no" decimal place, and the "f" means floating-point decimal. 
# If we wanted to format to one decimal place, we would use 1 instead of 0, and 2 for two decimal places, and so on.

# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [22]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [23]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

NameError: name 'district_summary_df' is not defined