In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

C:\Users\Amy\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [2]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [21]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
# This statement uses the .loc method to use a set of conditions to lookup the rows we want and then sets the "reading_score" to a "nan" "not a number"
student_data_df.loc[(student_data_df["grade"] =="9th") & (student_data_df["school_name"] == "Thomas High School"),["reading_score"]] = np.nan

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

In [ ]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
# This statement uses the .loc method to use a set of conditions to lookup the rows we want and then sets the "math_score" to a "nan" "not a number"
student_data_df.loc[(student_data_df["grade"] =="9th") & (student_data_df["school_name"] == "Thomas High School"),["math_score"]] = np.nan

In [23]:
#  Step 4. Check the student data for NaN's. 
# Check the data to see if the updates worked
student_data_df.tail(10)

# Other validation checks - Look at other grades at Thomas and make sure they are no null
# student_data_df[~(student_data_df["grade"] =="9th") & (student_data_df["school_name"] == "Thomas High School")]

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [ ]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

In [ ]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [ ]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [ ]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 


# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()


# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.

In [ ]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]

In [ ]:
# Step 3. Calculate the passing percentages with the new total student count.

In [ ]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()


# Step 4.Calculate the overall passing percentage with new total student count.

In [ ]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])



# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

##  School Summary

In [ ]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [ ]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})


# per_school_summary_df.head()

In [ ]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

In [ ]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).

In [ ]:
# Step 6. Get all the students passing math from THS

In [ ]:
# Step 7. Get all the students passing reading from THS

In [ ]:
# Step 8. Get all the students passing math and reading from THS

In [ ]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School.

In [ ]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.

In [ ]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School.

In [ ]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.

In [ ]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.

In [ ]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.

In [ ]:
# per_school_summary_df

## High and Low Performing Schools

In [ ]:
# Sort and show top five schools.

In [ ]:
# Sort and show top five schools.

## Math and Reading Scores by Grade

In [ ]:
# Create a Series of scores by grade levels using conditionals.


# Group each school Series by the school name for the average math score.


# Group each school Series by the school name for the average reading score.

In [ ]:
# Combine each Series for average math scores by school into single data frame.

In [ ]:
# Combine each Series for average reading scores by school into single data frame.

In [ ]:
# Format each grade column.

In [ ]:
# Remove the index.


# Display the data frame

In [ ]:
## Remove the index.


# Display the data frame

## Scores by School Spending

In [ ]:
# Establish the spending bins and group names.


# Categorize spending based on the bins.

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Create the DataFrame

In [ ]:
# Format the DataFrame

## Scores by School Size

In [ ]:
# Establish the bins.

# Categorize spending based on the bins.

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Assemble into DataFrame.

In [ ]:
# Format the DataFrame

## Scores by School Type

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Assemble into DataFrame.

In [ ]:
# # Format the DataFrame

## Start of AMY'S Code

In [ ]:
###########################################
# START OF MY CODE
# # Add the pandas dependency
import pandas as pd

## If you want to use the indirect path method - Add this dependency
# import os

In [ ]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/clean_students_complete.csv"

## Relative path using os method -commented out since we used the direct method above
# school_data_to_laod = os.path.join("Resources","schools_complete.csv")
# student_data_to_load = os.path.join("Resources","students_complete.csv")

In [ ]:
# Read the school data file using the Pandas "read_csv.()" function - Store it in the Pandas Dataframe
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

In [ ]:
# view the dataframe first 5 rows or (put a value in the paranthesis to set the number of rows to view)
school_data_df.head()

In [ ]:
# view the last 5 rows or (put a value in the paranthesis to set the number of rows to view)
school_data_df.tail()

In [ ]:
# Read the student data file using the Pandas "read_csv.()" function - Store it in the Pandas Dataframe
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

In [ ]:
school_data_df.count()

In [ ]:
student_data_df.count()

In [ ]:
school_data_df.isnull()

In [ ]:
# Determine if there are any missing values in the student data.
student_data_df.isnull()

In [ ]:
# Determine if there are any missing values in the student data.
student_data_df.isnull().sum()

In [ ]:
# Determine if there are not any missing values in the school data.
school_data_df.notnull()

In [ ]:
# Determine if there are not any missing values in the school data.
school_data_df.notnull().sum()

In [ ]:
missing_grades_to_load = "Resources/missing_grades.csv" 
missing_grades_df = pd.read_csv(missing_grades_to_load)
missing_grades_df

In [ ]:
# Drop the NaNs.
missing_grades_df.dropna()

In [ ]:
# FillNA() - function that replaces null values with a set value
missing_grades_df.fillna(85)

In [ ]:
# Determine data types for ALL COLUMNS the school Dataframe
school_data_df.dtypes

In [ ]:
# Determine data types for a SPECIFIC COLUMN in the DataFrame IF COLUMN NAME DOESN'T HAVE SPACES df.column.dtype
school_data_df.budget.dtype

In [ ]:
# Determine data types for a SPECIFIC COLUMN in the DataFrame IF COLUMN NAME does have spaces
school_data_df["School ID"].dtype

In [ ]:
student_data_df.dtypes

In [ ]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
    
    
student_data_df.head(20)

In [ ]:
# merge() method - Allows you to combine dataframes (JOIN) Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

In [ ]:
# Get the total number of students.
student_count = school_data_complete_df["Student ID"].count()
student_count

In [ ]:
# Lists the unique values in an array
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

In [ ]:
# Returns the count of unique values in the array
school_count_2 = len(school_data_complete_df["school_name"].unique())
school_count_2

In [ ]:
# Caluclate the total budget using the sum() method
total_budget = school_data_df["budget"].sum()
total_budget

In [ ]:
# mean() method to caluclate the mean (average)
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

In [ ]:
# mean() method to caluclate the mean (average)
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

In [ ]:
# To get all the students who passed math and all the students who passed reading, 
# we need to filter our school_data_complete_df DataFrame for the "True" cases
# Get all the students passing math in a new dataframe
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math_count = passing_math["student_name"].count()

In [ ]:
# Get all the students passing reading in a new dataframe
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading_count = passing_reading["student_name"].count()

In [ ]:
print(passing_math_count)
print(passing_reading_count)

In [ ]:
# cacluate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [ ]:
print(passing_math_percentage)
print(passing_reading_percentage)

In [ ]:
# populate a dataframe with the students who passed both math and reading
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
passing_math_reading.head(10)

In [ ]:
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
print(overall_passing_math_reading_count)

In [ ]:
overall_passing_percentage = overall_passing_math_reading_count / float(student_count) * 100
overall_passing_percentage

In [ ]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count_2,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

In [ ]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

In [ ]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

In [ ]:
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

district_summary_df

In [ ]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

In [ ]:
### START of the compilation of information for the per school statistics
# Determine the school type.
# Now we'll create a new DataFrame. As mentioned, the index needs to be the school_name 
# with "School Type" as the first column. 
#  This method will return a "Series" with the index as the school_name and a column with the type of school
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

# Add the per_school_types into a DataFrame for testing.
df = pd.DataFrame(per_school_types)
df

In [ ]:
# Calculate the total student count using the size column on the school.  Use the school_name indext for matching
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

In [ ]:
# Calculate the total student count using a second method of doing a count of each row for each school on the complete data.
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

In [ ]:
# Calculate the total school budget and create a series with the index as school_name
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

In [ ]:
# Calculate the per capita spending by using the 2 series both indexed on school_name 
per_school_capita = per_school_budget / per_school_counts
per_school_capita

In [ ]:
# Calculate the math scores by first creating a series with the school name and all the math scores
student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math

In [ ]:
# Calculate the average scores. This does it for all columns (see below for specific columns)
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

In [ ]:
# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
per_school_math

In [ ]:
per_school_reading

In [ ]:
 # To get the passing percentages, we need to:
 # 1. Determine what is the passing grade.
 # 2. Get the number of students who passed math and reading.
 # 3. Get the students who passed math and passed reading

 #Cacluate the passing scores by creating a filtered dataframe
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

per_school_passing_reading.head()

In [ ]:
#Now apply the groupby() function and apply the count() method to get the counts per school
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [ ]:
# the output is a Series where the index is the school name and the column is the number of students who passed reading/math for each school:
per_school_passing_reading

In [ ]:
# calculate the students who passed both 
per_school_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"]  >= 70)]
per_school_passing_math_reading.head()

In [ ]:
#group by the school name and count the students for each school that passed both
per_school_passing_math_reading = per_school_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# get the percentage by using the student count in the per_school_counts
per_school_passing_math_reading = per_school_passing_math_reading / per_school_counts * 100

per_school_passing_math_reading

In [ ]:
# Adding a list of values with keys to create a new DataFrame.
per_school_summary_df = pd.DataFrame(
          {"School Type": per_school_types,
          "Total Students": per_school_counts,
          "Total School Budget": per_school_budget,
          "Per Student Budget": per_school_capita,
          "Average Math Score": per_school_math,
          "Average Reading Score": per_school_reading,
          "% Passing Math": per_school_passing_math,
         "% Passing Reading": per_school_passing_reading,
        "% Overall Passing": per_school_passing_math_reading})
per_school_summary_df.head()

In [ ]:
# Format the "Total Students" to have the comma for a thousands separator.
per_school_summary_df["Total Students"] = per_school_summary_df["Total Students"].map("{:,}".format)

per_school_summary_df["Total Students"]

In [ ]:
# Format "Total School Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Total School Budget"]

In [ ]:
# Format "Per Student Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"]

In [ ]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
per_school_summary_df = per_school_summary_df[new_column_order]

per_school_summary_df.head()

In [ ]:
# Sort the results with the highest overall passing percentages and display the top 5 results
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head()

In [ ]:
# Sort the results with the lowest overall passing percentages with the lowest first
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

bottom_schools.head()

In [ ]:
# Create the class "Cat" 
class Cat:
    def __init__(self, name):
        self.name = name

In [ ]:
# Instantiate an object first_cat
first_cat = Cat('Felix')
print(first_cat.name)

In [ ]:
# Instantiate a second object
second_cat = Cat('Garfield')
print (second_cat.name)

In [ ]:
# Create a class with attributes and a method
class Dog:
    def __init__(self,name,color,sound):
        self.name = name
        self.color = color
        self.sound = sound

    def bark(self):
        return self.sound + ' ' + self.sound

In [ ]:
first_dog = Dog('Fido','brown','woof!')
print(       first_dog.name)
print(first_dog.color)
first_dog.bark()

In [ ]:
second_dog = Dog('Lady','blond','arf!')
print (second_dog.name)
print (second_dog.color)
second_dog.bark()

In [ ]:
# Create a grade level Dataframes by filter data and creating a dataframe for grade
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders =  school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders =  school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

ninth_graders.head()

In [ ]:
#Group each grade level DF by the school name and get the mean of math score
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores

In [ ]:
#Group each grade level DF by the school name and get the mean of reading score
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores

In [ ]:
# Combine each grade level Series for average math scores by school into a single dataframe

math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grade_math_scores,
    "11th": eleventh_grade_math_scores,
    "12th": twelfth_grade_math_scores
})

math_scores_by_grade.head()

In [ ]:
# Combine each grade level Series for average reading scores by school into a single dataframe

reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grade_reading_scores,
    "11th": eleventh_grade_reading_scores,
    "12th": twelfth_grade_reading_scores
})

reading_scores_by_grade.head()

In [ ]:
# Update the average score to show only one decimal place for all 4 columns
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:,.1f}".format)
math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:,.1f}".format)
math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:,.1f}".format)
math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:,.1f}".format)

math_scores_by_grade.head()

In [ ]:
#Make sure the columns are in the correct order
# Reorder the columns in the order you want them to appear.
math_scores_by_grade = math_scores_by_grade[["9th","10th","11th","12th"]]

# Remove the Index Name
math_scores_by_grade.index.name = None

#display df
math_scores_by_grade

In [ ]:
# Update the average score to show only one decimal place for all 4 columns
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)
reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)
reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)
reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

reading_scores_by_grade.head()

In [ ]:
#Make sure the columns are in the correct order
# Reorder the columns in the order you want them to appear.
reading_scores_by_grade = reading_scores_by_grade[["9th","10th","11th","12th"]]

# Remove the Index Name
reading_scores_by_grade.index.name = None

#display df
reading_scores_by_grade

In [ ]:
per_school_capita_sorted = per_school_capita.sort_values(ascending=True)

per_school_capita_sorted

In [ ]:
# Get the descriptive statistics for the per_school_capita.
per_school_capita.describe()

In [ ]:
# Cut / Divide the per_school_capita into spending ranges
spending_bins = [0, 585, 630, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

In [ ]:
# Establish the spending bins and group names in a "LIST OF STRING VALUES"
spending_bins = [0, 585, 630, 645, 675]
group_names =  ["<$584", "$585-629", "$630-644", "$645-675"]

In [ ]:
# Categorize the spending based on the bins into our dataframe
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita,spending_bins,labels=group_names)
per_school_summary_df

In [ ]:
# Calculate averages for the desired columns.
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]


overall_passing_spending

In [ ]:
# Assemble into a new dataframe
spending_summary_df = pd.DataFrame ({
    "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

spending_summary_df

In [ ]:
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:,.1f}".format)
spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:,.1f}".format)
spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:,.0f}".format)
spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:,.0f}".format)
spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:,.0f}".format)

spending_summary_df

In [ ]:
per_school_counts.describe()

In [ ]:
per_school_counts_sorted = per_school_counts.sort_values(ascending=True)

per_school_counts_sorted

In [ ]:
# Cut / Divide the per_school_counts into sizes
# First establish the bins, always include 0 or a minimum end to the bucket
size_bins = [0, 1000, 2000, 5000]

# Set the names for the groups that the data will be cut into
group_names =  ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Categorize the data into a new column in the existing dataframe
per_school_summary_df["School Size"] = pd.cut(per_school_counts,size_bins,labels=group_names)


# Calculate averages for the desired columns.
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]
overall_passing_size = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

# Assemble into a new dataframe
size_summary_df = pd.DataFrame ({
    "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": overall_passing_size})

# Format the numbers in the DF
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:,.1f}".format)
size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:,.1f}".format)
size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:,.0f}".format)
size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:,.0f}".format)
size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:,.0f}".format)

# Display the new dataframe
size_summary_df

In [ ]:
# Calculate averages for the desired columns - "School Type"
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

overall_passing_type = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

overall_passing_type

In [ ]:
# Assemble into a new dataframe
type_summary_df = pd.DataFrame ({
    "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": overall_passing_type})

type_summary_df

In [ ]:
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:,.1f}".format)
type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:,.1f}".format)
type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:,.0f}".format)
type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:,.0f}".format)
type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:,.0f}".format)

type_summary_df